body { background: #121212; padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; }
#head { background: #fefefe; color: #444;  }
#head form { padding-left: 24px; font-size: 24px; line-height: 3em; font-size: 48px; white-space: nowrap; text-transform: uppercase; font-weight: bold; letter-spacing: -3px; }
#head form input { font-size: 48px; width: 240px; }
#results { padding: 16px; }

.style1, .style2, .style3, .style4, .style5, .style6 {
	padding-right: 0.25em;
	text-decoration: none;
	font-size: 48px;
	letter-spacing: -2px;
	line-height: 1.2em;
}

strong {font-weight: normal; }
.style1 { color: #1effaf; }
.style1 strong  { color: #0c6646; }
.style2 { color: #ff6ca3; }
.style2 strong  { color: #662b41; }
.style3 { color: #ffff6c; }
.style3 strong  { color: #66662b; }
.style4 { color: #8eff6c; }
.style4 strong  { color: #39662b; }
.style5 { color: #1eb5ff; }
.style5 strong  { color: #0c4866; }
.style6 { color: #9a6cff; }
.style6 strong  { color: #3e2b66; }
