body { background: #121212; padding: 0; margin: 0; font-family: Helvetica, Arial, sans-serif; }
#head { background: #fefefe; color: #444;  }
#head form { padding-left: 24px; font-size: 24px; line-height: 3em; font-size: 48px; white-space: nowrap; text-transform: uppercase; font-weight: bold; letter-spacing: -3px; }
#head form input { font-size: 48px; width: 240px; }
#results { padding: 16px; }

.style1, .style2, .style3, .style4, .style5, .style6 {
	padding-right: 0.25em;
	text-decoration: none;
	font-size: 48px;
	letter-spacing: -2px;
	line-height: 1.2em;
}

strong {font-weight: normal; }
.style1 { color: #b6d539; }
.style1 strong  { color: #546022; }
.style2 { color: #0d8f69; }
.style2 strong  { color: #104435; }
.style3 { color: #fa6d13; }
.style3 strong  { color: #6f3713; }
.style4 { color: #cb1925; }
.style4 strong  { color: #5c151a; }
.style5 { color: #004bae; }
.style5 strong  { color: #0b2851; }
.style6 { color: #999999; }
.style6 strong  { color: #484848; }
